.vertical_layout_elem{id: 'dashboard_content'}
  #content
    .horizontal_layout
      .horizontal_layout_elem{id: 'map_content'}
        #map
      .horizontal_layout_elem{id: 'panel_content'}
        .vertica_layout{id: 'panel'}
          .vertical_layout_elem{id: 'panel_news', class: 'panel_item'}
            .horizontal_layout
              .horizontal_layout_elem{class: 'iner_panel_item'}
                .vertica_layout
                  .vertical_layout_elem{class: 'header'}
                    %spam
                      Noticias
                  .vertical_layout_elem{class: 'content'}
                    sdkjaskdakls
          .vertical_layout_elem{id: 'panel_news', class: 'panel_item'}
            .horizontal_layout
              .horizontal_layout_elem{class: 'iner_panel_item'}
                .vertica_layout
                  .vertical_layout_elem{class: 'header'}
                    %spam
                      Noticias
                  .vertical_layout_elem{class: 'content'}
                    sdkjaskdakls
          .vertical_layout_elem{id: 'panel_news', class: 'panel_item'}
            .horizontal_layout
              .horizontal_layout_elem{class: 'iner_panel_item'}
                .vertica_layout
                  .vertical_layout_elem{class: 'header'}
                    %spam
                      Noticias
                  .vertical_layout_elem{class: 'content'}
                    sdkjaskdakls
          