
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    background: none repeat scroll 0 0 #edeff0;

    width: 50px;
    height: 50px;
    padding: 5px;
    border: 2px solid silver;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
    //position: absolute;
    //top: 20%;
    //left: 10%;
    display: inline-block;
}


.content{
	border: 1px solid white;
    bottom: auto;
    color: white;
    left: 50%;
    position: absolute;
    right: auto;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    height: 90%;

}


.how-it-works{
	
	//border: 1px solid white;
	position: absolute;
	width: 100%;
	top: 25%;
	font-family: Roboto Light;
	font-size: 20px;	
}

.how-it-works ul {
	//border: 1px solid white;
	list-style-type: none;
}
.how-it-works ul li {
	//border: 1px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Roboto Light;
	font-width: 10;
}



.instruction{
	border: 1px solid white;
	width: 100%;
	left:50%;
    position: absolute;
    bottom: auto;
    color: white;
    
    right: auto;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
   font-family: Roboto Light;
   font-size: 32px;
  //  height: 50%;
}

.instruction .text {
	//border: 2px solid white;
	width: 70%;	
	height: 100%;
	display: inline-block;
	text-align: left;
	padding-left: 5px;
	padding-bottom:5px;
}

#intrunction-1{
	top: 20%;
}

#intrunction-2{
	top: 40%;
}

#intrunction-3{
	top: 60%;
}
#intrunction-4{
	top: 80%;
}
#intrunction-5{
	top: 100%;
}


.cd-fixed-bg h1{
  top: 10%;
}

.cd-fixed-bg h2{
 font-family: Roboto Light;
    font-size: 62px;
  //  margin: 100px auto 0;
  top: 5%;
   color: white;
    display: inline-block;
    text-shadow: 1px 1px 1px #000;
    font-weight: 500;
}


#registro{
	//border: 2px solid white;
	width: 100%;
    position: absolute;
    bottom: auto;
    top: 20%;
    height: auto;

}

#fields{
	//border: 2px solid white;
	width: 30%;
	margin: auto;
}

.field{
text-align:left;
	//border: 2px solid white;
	padding-bottom: 5px;
	padding-top: 5px;
}
.field label{
display: block;
font-family: Roboto Light;
font-size: 20px;
	padding-bottom: 2px;
	padding-top: 1px;
}

.field input{
	 background: none repeat scroll 0 0 silver;
	 opacity: 0.9;
    border: 1px solid #cdd2d4;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
     padding: 0.5em;
    width: 100%;
}

#button {
	padding-bottom: 5px;
	padding-top: 5px;
}
#button  input{

	background-color: #428bca;
    border: 1px solid silver;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    display: inline-block;
    //float: right;
    height: 40px;
    //margin: 15px 15% 0 0;
    outline: medium none;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease 0s;
    width: 200px;
    margin-right: 10px;
    opacity: 100;
}