/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #3d3536;
  background-color: white;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #b4d7a8;
  text-decoration: none;
}


/* -------------------------------- 

Header

-------------------------------- */
//common css
.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #464646;//rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 0.8;
}

.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 22px 0 0 5%;
}

.cd-header #cd-logo span{
  
  font: 30px"Dosis", sans-serif;
    text-transform: uppercase;
    position: relative;
    left: 30px;
    width: inherit;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #9ca5af;
    letter-spacing: 10px;
    
}

.cd-header #cd-logo img {
  display: block;
}
  
.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  //background: url("cd-icon-menu.svg") no-repeat center center;
  //background-size: 44px 44px;
  cursor: pointer;

}

#desktop_menu{
  width: auto;
  border: 1px solid silver;
  display: inline-block;
  height: auto;
  cursor: auto;
  float: right;
  //margin-right: 5%;
  margin: 13px 0 0 5%;
  }

  .sliding-menu-button {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    outline: medium none;
    padding: 10px 16px;
    position: absolute;
    right: 20px;
    top: 13.5px;
    color: silver;
}

.fa {
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    content: "";

}

@media only screen and (min-width: 400px) {
  .cd-main-nav {
    height: auto;
    cursor: auto;
    margin: 13px 0 0 5%;
    width: 50%;
   //background: white;
  }

  .buybutton1 {
    background-color: #346770;
    border: 1px solid silver;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    display: inline-block;
    //float: right;
    height: 40px;
    //margin: 15px 15% 0 0;
    outline: medium none;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease 0s;
    width: 200px;
    margin-right: 10px;
    opacity: 100;
  }
}


/*
  MAIN CONTENT 

*/   

.cd-main-content {
  height: 100%;
  position: relative;
  z-index: 1;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
        margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  //font-size: 30px;
  //font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
}

.cd-fixed-bg h1{
 font-family: Roboto Light;
    font-size: 62px;
  //  margin: 100px auto 0;
  top: 15%;
   color: white;
    display: inline-block;
    text-shadow: 1px 1px 1px #000;
    font-weight: 500;
    line-height: 1.1;
}
.cd-fixed-bg h2{
 font-family: Roboto Light;
    font-size: 62px;
  //  margin: 100px auto 0;
  top: 5%;
   color: white;
    display: inline-block;
    text-shadow: 1px 1px 1px #000;
    font-weight: 500;
    line-height: 1.1;
}


.cd-fixed-bg.cd-bg-1 {
  background-image: url("cd-background-1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("cd-background-2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("cd-background-3.jpg");
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("cd-background-4.jpg");
}


.cd-scrolling-bg {
  position: relative;
  height: auto;
  padding: 1em 0;
  //line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
  background-color: white;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: -10px;

}
//Cada caja de texto
.cd-scrolling-bg.cd-color-1 {
}
.cd-scrolling-bg.cd-color-2 {
}
.cd-scrolling-bg.cd-color-3 {
}








.red-btn {
    background: none repeat scroll 0 0 #e96656;
}

.green-btn {
    background: none repeat scroll 0 0 #428bca;
}




